{{- $prev := .PrevInSection -}}
{{- $next := .NextInSection -}}
{{- if or $prev $next -}}
<nav class="prev-next">
    {{- if $prev }}
    <a href="{{ $prev.Permalink }}">
        <div class="label">&larr; Previous</div>
        <div class="title">{{ $prev.Title }}</div>
    </a>
    {{- else }}
    <div></div>
    {{- end }}
    {{- if $next }}
    <a href="{{ $next.Permalink }}" class="next">
        <div class="label">Next &rarr;</div>
        <div class="title">{{ $next.Title }}</div>
    </a>
    {{- else }}
    <div></div>
    {{- end }}
</nav>
{{- end -}}
