{{- $author := .Params.author | default .Site.Params.author -}}
{{- $description := .Description | default (.Summary | plainify | truncate 160) -}}
{{- $data := dict
    "@context" "https://schema.org"
    "@type" "Article"
    "headline" .Title
    "description" $description
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "url" .Permalink
    "author" (dict "@type" "Person" "name" $author)
    "publisher" (dict "@type" "Organization" "name" "Grafema" "logo" (dict "@type" "ImageObject" "url" "https://grafema.dev/grafema_logo.png"))
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
-}}
<script type="application/ld+json">
{{ $data | jsonify (dict "indent" "  ") | safeJS }}
</script>
